body {
    font-family: 'Tajawal', sans-serif;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #4a90e2;
    margin-bottom: 20px;
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

    .input-field:focus {
        border-color: #4a90e2;
        outline: none;
    }

.required {
    color: red;
    font-size: 14px;
}

.btn {
    background-color: #4a90e2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

    .btn:hover {
        background-color: #357ab7;
    }

.cancel-btn {
    background-color: #ccc;
    margin-top: 10px;
}

    .cancel-btn:hover {
        background-color: #aaa;
    }

.msg {
    text-align: center;
    color: red;
    display: none;
}
